:root {
  --main-font: "Inter-Variable";
  --accent-font: "PressStart2P";
  --main-font-size: 18px;
  --accent-font-size: 14px;
  --main-text-weight: 410;
  --title-text-weight: 715;
  --card-inline-width: clamp(375px, 48.62vw, 700px);
  --main-color: #fff;
  --accent-color: #000;
  --heart-contour-color: #000;
  --heart-main-color: red;
  --heart-core-color: #fff;
  --background-grid: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
}
